html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #ffd700;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #D9D9D9;
}

footer {
  background-color: #003366;
  color: #fff;
}




body {
  transition: background 0.2s ease-in-out;
}

body.dark {
	background-color: #292c35;
	color: white;
} /* #9b59b6 */

body.dark h1, body.dark .support a {
	color: #fff;
}

.checkbox {
	opacity: 0;
	position: absolute;
}


.fa-moon {color: #f1c40f;}
.fa-sun {color: #f39c12;}

.checkbox-label {
	background-color: #111;
	width: 50px;
	height: 26px;
	border-radius: 50px;
	position: relative;
	padding: 5px;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.checkbox-label .ball {
	background-color: #fff;
	width: 22px;
	height: 22px;
	position: absolute;
	left: 2px;
	top: 2px;
	border-radius: 50%;
	transition: transform 0.2s ease-in-out;
}

.checkbox:checked + .checkbox-label .ball {
	transform: translateX(24px);
}




.sl-header {
  background-color: #003366;
  color: #fff;
}

.fontwhite {
  color: #fff;
}

.fontwhite:focus, .fontwhite:hover{
  color: #ffd700
}

.logo {
  max-height: 50px;
  max-width: 50px;
  margin-left: 5px;
}

.file-upload-form{
	position: relative;
}

.upload-button{
	position: absolute;
	bottom: 10px;
	right: 10px;
}
