@model DBSeniorLearnApp.UI.Models.AdminStatisticsViewModel

@{
    ViewData["Title"] = "SeniorLearn Statistics";
}

<div class="text-center">
    <h1>Statistics</h1>
</div>

<div>
	<p>Number of courses scheduled: @Model.NumberOfCourses</p>
</div>
