@model DBSeniorLearnApp.UI.Models.CreateSingleCourseViewModel

@{
    ViewData["Title"] = "Schedule Single Class";
}

<form asp-controller="Schedule" asp-action="Single" method="POST">
    <label class="col-2 m-2">Class Title</label>
    <input asp-for=@Model.Title class="col-2 m-2" />
	
    <label class="col-2 m-2">Description</label>
    <input asp-for=@Model.Description class="col-2 m-2" />
	
    <label class="col-2 m-2">Start time</label>
    <input asp-for=@Model.StartTime class="col-2 m-2" />
	
    <label class="col-2 m-2">End time</label>
    <input asp-for=@Model.EndTime class="col-2 m-2" />
	
    <label class="col-2 m-2">Prerequisites</label>
    <input asp-for=@Model.Prerequisites class="col-2 m-2" />
	
    <label class="col-2 m-2">MemberNumber</label>
    <input asp-for=@Model.InstructorMemberNumber class="col-2 m-2" />
	
    <label class="col-2 m-2">Status</label>
    <select asp-for=@Model.Status asp-items="Model.Statuses" class="col-2 m-2"></select>
	
    <button type="submit" class="col-2 m-2">Schedule Class</button>
</form>
