@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
	<li>
		<!-- <img id="pfp" class="img-fluid float-right" src="/images/profilepictures/@User.Identity?.Name/picture.png" /> -->
		<style>#pfp { max-width: 10%; }</style>
	</li>
    <li class="nav-item">
        <a  class="nav-link fontwhite" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link fontwhite">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link fontwhite" asp-controller="Account" asp-action="Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link fontwhite" asp-controller="Account" asp-action="Login">Login</a>
    </li>
}
</ul>
